.header {
  padding: 1rem 2rem;
  background: transparent;
  color: inherit;

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    font-weight: 600;
    font-size: 1.2rem;
  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
  }

  &__link {
    font-weight: 600;
    position: relative;
    transition: all 200ms ease-in-out;
    text-wrap: nowrap;
    color: white;
    background: linear-gradient(90deg, #8e2de2, #fcd34d, #3b82f6) no-repeat
      right bottom / 0 var(--bg-h);
    transition: background-size 350ms;
    padding-bottom: 2px;
    --bg-h: 1px;

    &:where(:hover) {
      background-size: 100% var(--bg-h);
      background-position-x: left;
    }
    @at-root .light-theme & {
      background: linear-gradient(90deg, #8e2de2, #fcd34d, #3b82f6) no-repeat
        right bottom / 0 var(--bg-h);

      &:where(:hover) {
        background-size: 100% var(--bg-h);
        background-position-x: left;
      }
    }
  }

  &__button {
    background: none;
    border: 1px solid #fff;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition:
      background 0.3s ease,
      color 0.3s ease;

    &--ghost:hover {
      background: rgba(255, 255, 255, 0.15);
    }
  }
  &__icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition:
      transform 0.3s ease,
      opacity 0.3s ease;
    svg {
      width: 20px;
      height: 20px;
    }
    path {
      fill: #fff;
    }
    &:hover {
      transform: rotate(10deg) scale(1.05);
    }
  }
}
