.gradient-text {
  background-image: linear-gradient(
    95deg,
    var(--accent-purple),
    var(--accent-blue),
    var(--accent-green)
  );
  pointer-events: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.gradient-text::selection {
  -webkit-text-fill-color: white;
}

.gradient-text--animated {
  background-size: 200% auto;
  animation: gradient-text-shine 1.3s ease-in-out infinite alternate;
}

@keyframes gradient-text-shine {
  from {
    background-position: 0% 50%;
  }
  to {
    background-position: 100% 50%;
  }
}
