.gradient-text {
  background-image: linear-gradient(90deg, #8e2de2, #fcd34d, #3b82f6);
  pointer-events: none;
  margin-left: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  &::selection {
    -webkit-text-fill-color: white;
  }
  &::after {
    content: none;
  }
  &--animated {
    text-fill-color: transparent;
    background-size: 200% auto;
    animation: textShine 1.3s ease-in-out infinite alternate;
  }
}
@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
